footer {
  position: relative;
  padding-top: 13rem;
}

.svg-wrapper {
  //background-image: url('/wave-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: right top;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  p,
  a {
    color: white;
    float: right;
    text-align: right;
    right: 1em;
    bottom: 3em;
    position: absolute;
    display: inline;
    padding: 2em;
  }
}
