footer {
  position: relative;
  padding-top: 13rem;
}
.svg-wrapper {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/jumble-113b5.appspot.com/o/footer%2Fwave-2.svg?alt=media&token=8e6751e8-a6fc-43ba-a06e-29cbc7eb356c');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: right top;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  p,
  a {
    color: white;
    float: right;
    text-align: right;
    right: 1em;
    bottom: 3em;
    position: absolute;
    display: inline;
    padding: 2em;
  }
}
