.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  outline: none -webkit-focus-ring-color;
  box-shadow: none;
  border: 0px;
  text-align: end;
}

.navbar {
  background-color: rgba(44, 12, 85, 0.9);
}

@media (min-width: 576px) {
  .navbar {
    background-color: transparent;
  }
}
