@import './base/typography';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100% !important;
}



.App {
  position: relative;
  overflow-x: hidden;
  background-size: cover;
  background: url('https://firebasestorage.googleapis.com/v0/b/jumble-113b5.appspot.com/o/footer%2Fjumbleabstract-tiny.webp?alt=media&token=5936054a-b8a7-4834-8e0e-a392eed2754d') no-repeat fixed;
  font-family: $main-font;
  width:auto;
  display: flex;
  flex-direction: column !important;
}


