@import './base/typography';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100% !important;
}



.App {
  position: relative;
  overflow-x: hidden;
  background-size: cover;
  background: url('https://firebasestorage.googleapis.com/v0/b/jumble-113b5.appspot.com/o/footer%2Fabstractjumble-sm.webp?alt=media&token=d3783375-0e03-47cd-9c93-7100b4185f25') no-repeat fixed;
  font-family: $main-font;
  width:auto;
  display: flex;
  flex-direction: column !important;
}

.error {
  color: #be4362;

  ::before {
    content: '💢';
  }
  ::after {
    content: '💢';
  }
}
