@import './base/typography';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100% !important;
}

.App {
  position: relative;
  overflow-x: hidden;
  background: url('https://firebasestorage.googleapis.com/v0/b/jumble-113b5.appspot.com/o/footer%2Fabstractjumble.webp?alt=media&token=fa3e06dd-dfdc-4d07-ae99-3c988acf1a9c');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $main-font;
  width:auto;
  display: flex;
  flex-direction: column !important;
}

.error {
  color: #be4362;

  ::before {
    content: '💢';
  }
  ::after {
    content: '💢';
  }
}
