footer {
  position: relative;
  padding-top: 25rem;
}

.svg-wrapper {
  background-image: url(../../assets/images/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;

  p,
  a {
    color: white;
    float: right;
    text-align: right;
    right: 1em;
    bottom: 3em;
    position: absolute;
    display: inline;
    padding: 2em;
  }
}
