@use '../custom' as *;

body {
  text-align: center;
  background-image: url(./assets/images/jumble-bg.webp);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
