.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  outline: none -webkit-focus-ring-color;
  box-shadow: none;
  border: 0px;
  text-align: end;
}

// Navbar-style
// .open {
//   background-color: #e46965;
//   border-bottom-left-radius: 160%;
//   border-bottom-right-radius: 50%;
//   height: -7rem;
//   position: fixed;
//   top: -100vh;
//   transition: all 0.65s cubic-bezier(1, 0, 0, 1);
//   width: 100%;
//   z-index: 50;
// }
