.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  outline: none -webkit-focus-ring-color;
  box-shadow: none;
  border: 0px;
  text-align: end;
}

.show {
  background-color: #2c0c55;
}
