//MY THEME COLORS
$dark-indigo: #2c0c55;
$light-indigo: #9586a8;
$light-background: #fbece7;
$light-forms: #f6f5f5;
$light-salmon: #febbaa;
$dark-salmon: #e46965;
$light-plum: #ff6469;
$dark-plum: #be4362;
$red: #dc2f27;

//BUTTON THEMES
$theme-colors: (
  'primary': $dark-indigo,
  'secondary': $dark-salmon,
  'success': $light-salmon,
  'info': $light-indigo,
  'warning': $red,
  'danger': $light-plum,
  'light': $light-background,
  'dark': $dark-plum,
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss'; // am Ende schauen ob wirklich die große Datei benötigt wird oder nur einzelne Pakete von Bootstrap: grid, buttons & noch einbauen minified,
