@import './base/typography';

* {
  box-sizing: border-box;
}

.App {
  position: relative;
  overflow-x: hidden;
  background: url(../../assets/images/jumble-bg.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $main-font;
  height: 100vh;
}

#root {
  min-height: 100vh;
}

.scroll-list {
  overflow-y: scroll;
  height: 300px;
}
